nav.nav-bar {
  background-color: aqua;
}

section.section {
  display: flex;
}

div.counter {
  padding: 20px;
}

div.text {
  color: grey;
}

div.green {
  color: green;
}

div.red {
  color: red;
}

div.orange {
  color: orange;
}